.section__footer {
    background-color: var(--background-secondary-color);
    color: var(--text-on-dark-color);
    padding: 60px 0px;
}
.footer__container {
    display: flex;

    &--address {
            margin-right: 70px;
        }
}
.footer__address--list {
    margin-top: 20px;
}
.footer__location--link {
    font-style: normal;
}
.footer__address--item:not(:last-child) {
    margin-bottom: 9px;
}
.footer__address--link {
    font-style: normal;
    color: var(--text-on-dark-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.footer__address--opacity {
    color: #ffffff99;
}

.footer__container--join {
    margin-top: 15px;
    margin-right: 93px;
}

.footer__join--headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__join--list {
    display: flex;
}

.footer__join--item:not(:last-child) {
    margin-right: 10px;
}

.footer__join--icon {
    fill: currentColor;
}

.footer__join--link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-on-dark-color);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--text-on-dark-color);
    }
}


.footer__container--subscription {
    margin-top: 15px;
}

.footer__subscription--box {
    display: flex;
}

.footer__subscription--label {
    margin-right: 12px;
}

.footer__subscription--input {
    width: 358px;
    background-color: var(--background-secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    color: #ffffff99;
}

.footer__subscription--button {
    background-color: var(--accent-color);
    color: var(--text-on-dark-color);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    outline: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px;
    font-weight: 700;
    line-height: 1.87;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;

    &:active,
    &:hover,
    &:focus {
        background-color: var(--background-active-button);
    }
}
.footer__subscription--icon {
    fill: var(--text-on-dark-color);
    margin-left: 10px;
}